@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@600&family=Josefin+Sans:wght@500&family=Poppins:wght@200&family=Silkscreen&display=swap');

* {
    font-family: 'Edu QLD Beginner', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Silkscreen', cursive;
}

body {
    background-color: black;
    color: white;
}

.container {
    display: grid;
    height: 500px;
    width: 500px;
    border: 2px solid black;
} 
